html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
}  

body {
    background: url(../images/body-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-header {
    background-image: url(../images/header-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: bottom right;
}

.font-mono {
    font-family: "Roboto Mono";
}

.font-slab {
    font-family: "Roboto Slab";
}

.bg-black {
    background-color: black;
}

.text-bgreen {
    color: rgb(22, 198, 12);
}
