html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
}  

body {
    background: url(../images/body-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-header {
    background-image: url(../images/header-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: bottom right;
}

.jumbotron h1 {
    font-family: "Roboto Mono";
}

.jumbotron p {
    font-family: "Roboto Slab";
}